<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bisu.ums_bisucalapelibrary">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_ums"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_ums"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.UMSBISUCalapeLibrary">
        <activity
            android:name=".EditUserActivity"
            android:label="@string/activity_edit_user"
            android:parentActivityName=".LibrarianActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".RecognitionActivity"
            android:exported="false"
            android:label="@string/activity_recognition"
            android:parentActivityName=".LibrarianActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MyAcctActivity"
            android:exported="false"
            android:label="@string/activity_my_acct"
            android:parentActivityName=".LibrarianActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LibrarianActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".CreateAcctActivity"
            android:exported="false"
            android:label="@string/activity_create_acct"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ForgotPwordActivity"
            android:exported="false"
            android:label="@string/activity_forgot_pword"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AddUserActivity"
            android:exported="false"
            android:label="@string/activity_add_user"
            android:parentActivityName=".EnrollFaceActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EnrollFaceActivity"
            android:exported="true"
            android:label="@string/activity_enroll_face"
            android:parentActivityName=".LibrarianActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".ExampleActivity" />
        <activity
            android:name=".splash_screen"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.UMSBISUCalapeLibrary" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>